/* EZ */

@import url(http://fonts.googleapis.com/css?family=Bree+Serif|Maven+Pro|Gloria+Hallelujah|Frijole);
/*
font-family: 'Bree Serif', serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Frijole', cursive;
*/

.class-foo {
	color: red;
}

.top-header {
	font-size: 42px;
	color: gray;
	text-align: center;
	font-family: 'Bree Serif';
}

.contact {
	position: absolute;
	right: 20px;
	top: 29px;
	color: goldenrod;
	font-size: .8em;
	font-family: 'Frijole';
}

#bar {
	background-color: gray;
}

.sub-header {
/*
	position: relative;
*/
	text-align: center;
	top: 30%;
	/* left: 10%; 
	padding-right: 5em;*/
	background-color: light-gray;
	font-family: 'Maven Pro';
}


